
 <button (click)="logout()" style="width: 10%; float: right;" class="btn btn-outline-dark">LogOut</button>
 <button (click)="back()" style="width: 10%; float: right;" class="btn btn-outline-dark mr-3">Back</button>
<br><br><br>
<ul class="list-group" *ngIf="items$ | async as items;">
  <div *ngIf="items.length==0">
    <h1 style="font-size: xx-large; text-align: center; padding-top: 250px;">Could not find any items,Please Add Your Item!</h1>
  </div>
  <app-items-list-item  *ngFor="let item of items" [item]="item"></app-items-list-item>
  <br><br>
  
  <button class="btn btn-primary mr-3" (click)="addItem()" style="border: 40; width: 25%; margin-left: 600px; border-color: black;">Add Item?</button>

</ul>
